* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(webfonts/Montserrat-Bold.ttf);
}

:root {
    --Montserrat: "Montserrat";
}

body {
    height: 100vh;
    background-image: url(image/image.png);
    background-size: cover;
}

::selection {
    background-color: #3d2a1c;
}

.main-border {
    background-color: #0009;
    box-shadow: 0px 10px 35px -3px #fff;
}

.h1-quote {
    color: #dfbd90;
    text-shadow: -1px 1px 5px #dfbd90;
    font-weight: 700;
}

.main-border .pra-quote {
    color: #FED8B1;
}

button {
    color: #FDE49E;
    font-weight: 700;
    background-color: #6F4E37;
    border: 13px solid #6F4E37;
    transition: all 0.7s;
}

button:hover {
    color: #6F4E37;
    background-color: #FDE49E;
    border: 13px solid #FDE49E;
}

#newQuote {
    height: 100px;
}

#newQuote p {
    font-family: var(--Montserrat);
    font-weight: 700;
    color: #fff;
    width: 28.125rem;
    margin-inline: auto;
    margin-block: 1.25rem;
}

#newQuote img {
    position: absolute;
    bottom: 105%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 4px solid #fff;
}

@media (max-width : 640px) {
    .main-border {
        width: 90%;
        height: 52%;
    }

    #newQuote p {
        width: auto;
    }
}